<div *ngIf="editors.length > 0; else noEditors">
  <div class="table-responsive">
    <table class="table table-custom align-middle">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let editor of editors">
          <td (click)="onViewDetail(editor.id)">{{ editor.name }}</td>
        <!-- In questo caso come vedi come parametro non ho $event ma l'editor.id che estraggo dall'iterazione sull'editor
         poi andrò a chiamare nel padre editorPage il viewdeatial() e in quel caso il padre non conosce l'editorid
         passatogli, perchè noi glielo passiamo dal figlio come un eventemitter ragion per cui nel viewdetail del padre
         avremo invece un $event -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noEditors>
  <p>No editors found</p>
</ng-template>