<div class="container py-5">
    <div *ngIf="editors.length > 0; else noEditors">
        <div class="table-responsive">
            <table class="table editor-table align-middle">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Detail</th>
                        <th *ngIf="isAdmin">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let editor of editors">
                        <td>{{ editor.name }}</td>
                        <td>
                            <button 
                                class="btn btn-detail btn-sm"
                                (click)="onViewDetail(editor.id)">
                                <i class="bi bi-eye"></i> Detail
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <app-pagination
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                (next)="onNextPage()"
                (prev)="onPrevPage()">
            </app-pagination>      
               
        </div>
    </div>

    <ng-template #noEditors>
        <p>No editors found</p>    
    </ng-template>
</div>

