<div class="container py-5" >
    <a routerLink="/home" class="home-btn mb-3">
        <i class="bi-house-door" ></i>Home Page 
    </a>
    <h1 class="main-title">Editors</h1>

    <app-editors-filters
        [isAdmin]="isAdmin"
        (search)="searchEditors($event)">    
    </app-editors-filters>
    <app-editors-grid
        [editors]="editors"
        [isAdmin]="isAdmin"
        (viewDetail)="viewDetail($event)"
        class="mt-3">
    </app-editors-grid>
    <div class="pagination-actions-row">
        <div></div>
        <app-pagination
            [currentPage]="pagination.currentPage"
            [totalPages]="pagination.totalPages"
            [totalRecords]="pagination.totalRecords"
            (next)="nextPage()"
            (prev)="prevPage()">
        </app-pagination>
        <div style="display:flex; justify-content:flex-start; padding-left: 1rem;">
            <button *ngIf="isAdmin" class="btn btn-action-outline btn-sm" (click)="goToAdd()">
                Add New Editor
            </button>
        </div>
    </div>
</div>  