<div class="container py-5" >
    <a routerLink="/home" class="home-btn mb-3">
        <i class="bi-house-door" ></i>Home Page 
    </a>  

    <h1 class="display-4 fw-bold">Editors</h1>

    <app-editors-filters>
    </app-editors-filters>

    <app-editors-grid
        [editors] = "editors"
        [isAdmin]="isAdmin"
        [isAuthenticated]="isAuthenticated"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (nextPage)="nextPage()"
        (prevPage)="prevPage()">      
    </app-editors-grid>
</div>