/* Stile specifico per il titolo */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fffafa; // oppure #cccccc, #e0e0e0
  text-shadow:
    1px 1px 4px rgba(0, 0, 0, 0.4);
}

