<div class="container py-5">
  <a routerLink="/home" class="home-btn mb-3">
    <i class="bi bi-house-door"></i> Home Page
  </a>

  <h1 class="main-title">Books</h1>

  <app-books-filters 
    [isAdmin]="isAdmin"
    (search)="searchBook($event)">
  </app-books-filters>
  <app-books-grid
    [books]="books"
    [isAdmin]="isAdmin"
    (viewDetail)="viewDetail($event)">
  </app-books-grid>

  <div class="pagination-actions-row">
    <div></div>
<!--   Il <div></div> vuoto serve come spacer per il grid a 3 colonne:      
        colonna 1 (1fr) | colonna 2 (auto) | colonna 3 (1fr)
          <div></div>   |  app-pagination  |   bottone 
-->
    <app-pagination
        [currentPage]="pagination.currentPage"
        [totalPages]="pagination.totalPages"
        [totalRecords]="pagination.totalRecords"
        (next)="nextPage()"
        (prev)="prevPage()">
      </app-pagination>
      <div style="display:flex; justify-content:flex-start; padding-left: 1rem;">
          <button *ngIf="isAdmin" class="btn btn-action-outline btn-sm" (click)="goToAdd()">
              Add New Book
          </button>
      </div>      
  </div>
</div>
