<div class="container py-5">

  <div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-9 col-xl-8">
      <a routerLink="/home" class="home-btn mb-3">
          <i class="bi-house-door" ></i>Home Page 
      </a>

      <div class="card shadow rounded p-4">

        <h2 class="text-center text-light mb-4">Log in</h2>

        <form (submit)="login()" class="d-flex flex-column gap-4">

          <!-- EMAIL -->
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input type="email" class="form-control" id="email"
                   [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required/>
          </div>

          <!-- PASSWORD -->
          <div class="input-group">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" id="password"
                   [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required/>
          </div>

          <div class="text-end">
            <a routerLink="/reset-password" class="text-light">Forgot password?</a>
          </div>

          <!-- SUBMIT -->
          <button type="submit" class="btn btn-action-outline w-100">
            <i class="bi bi-box-arrow-in-right"></i> Log in
          </button>

          <div class="text-center">
            <a routerLink="/signup" class="text-light">Not registered yet? Sign up.</a>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>