<div class="pages-filters">
  <form [formGroup]="filterForm" class="filters-grid">
    <!--proeprty binding ossia collego il valore della variabile del ts filterForm allla proprietà
    formGroup del form dell'html-->
    <div class="filter-item" *ngIf="isAdmin">
      <input type="number" class="form-control" formControlName="editorId" placeholder="Editor ID" />
    </div>

    <div class="filter-item">
      <input type="text" class="form-control" formControlName="editorName" placeholder="Editor Name" />
    </div>
    
    <div class="filter-actions">
      <button type="button" class="btn btn-primary" (click)="onSearch()">Search</button>
    </div>    
    <!--type="button" → esegue solo l’azione che definisci tu (click), senza interagire con il form.
    type="submit" → invia il form e attiva la logica del form (es. ngSubmit), includendo anche il comportamento ENTER.-->
  </form>
</div>