/* Bottone uniforme per azioni Edit/Delete */
.action-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background-color: #555;
  border: 1px solid #fff;
  padding: 0.35rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.action-btn:hover {
  background-color: #fff;
  color: #111;
  text-decoration: none;
}

.edit-btn {
  background-color: #555;
  border-color: #4b525e;
}

.edit-btn:hover {
  background-color: #fff;
  color: #111;
}

.delete-btn {
  background-color: #805055; /* rosso più soft */
  border-color: #000000;
}

.delete-btn:hover {
  background-color: #fff;
  color: #111;
}

.book-cover {
  width: 100px;   // aumenta da 60px a 100px per ingrandire la copertina
  height: auto;   // mantiene proporzioni originali
  object-fit: cover; 
  display: block;
  margin: 0 auto; // centra l'immagine nella cella
}

.books-counter {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff !important; 
  margin-bottom: 1rem;
}


