@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

li {
  font-size: 1.25rem;
  margin: 1rem 0;
  transition: transform 0.2s ease;
}

li:hover {
  transform: scale(1.05);
}

p.lead.text-muted {
  color: #fffafa !important;
  text-shadow: 0 0 6px rgb(163, 140, 140);
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.5rem;
}