.card.card {
  background-color: rgba(49, 56, 63, 0.85);
  color: #f8f9fa;
  border: none;
}

.input-group .form-control {
  border-color: #f8f9fa;
  background-color: rgba(255, 255, 255, 0.15);
  color: #f0f0f0;
  box-shadow: none;
}

.input-group .form-control:focus {
  border-color: #f0f0f0;
  box-shadow: none;
}

.input-group .btn {
  background-color: #444;
  color: #f1f1f1;
  border-color: #f8f9fa;
}

.input-group .btn:hover {
  background-color: #555;
  color: #fff;
}

.list-group-item {
  background-color: transparent !important;
  border: none;
}

::placeholder {
  color: #f0f0f0;
  opacity: 1;
}