<div class="container py-5" >
    <a routerLink="/home" class="home-btn mb-3">
        <i class="bi-house-door" ></i>Home Page 
    </a>      

    <h1 class="main-title">Authors</h1>

    <app-authors-filters>
    </app-authors-filters>  
    
    <app-authors-grid
    [authors] = "authors"
    [isAdmin] = "isAdmin"
    [isAuthenticated] = "isAuthenticated"
    [currentPage] = "pagination.currentPage"
    [totalPages] = "pagination.totalPages"
    [totalRecords] = "pagination.totalRecords"
    (nextPage) = "nextPage()"
    (prevPage) = "prevPage()"
    (viewDetail)="viewDetail($event)">    
    </app-authors-grid>
    
</div>